<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Add a fun fact</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    </head>
    <body>
      <div class="container">
        <h1>Add a fun fact</h1>
        <div class="callout">
            <h3>Fill out the form and click submit to add a new fun fact.</h3>
        </div>
        <div class="facts-container">
            <form action="/facts" method="POST">
                <label for="submitter">Name</label>
                <input type="text" name="submitter" id="submitter">
                <label for="fun_fact">Fun Fact</label>
                <input type="text" name="fun_fact" id="fun_fact">
                <input type="submit" value="Submit">
            </form>
        </div>
        

        <a href="/pets">Go home</a>

      </div>
        
        <script src="" async defer></script>
    </body>
</html>